@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.contendTitleContend{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #bc6c25;
}

.titleMiPrimerProyecto{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 3vw;
}
.contendTitleImg{
    width: 30vw;
    height: 60vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 221, 161, 94, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    gap: 4vh;

}
.titleGatitosPros{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 2vw;
}
.imagenGatito{
    height: 40vh;
    width: 25vw;
}
/* generamos la animación del texto principal */
.titleMiPrimerProyecto {
	-webkit-animation: titleMiPrimerProyecto 0.9s both;
	        animation: titleMiPrimerProyecto 0.9s both;
}
@-webkit-keyframes titleMiPrimerProyecto {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes titleMiPrimerProyecto {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  
/* generamos la aminación  de la imagen*/
.imagenGatito {
	-webkit-animation: imagenGatito 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: imagenGatito 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes imagenGatito {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes imagenGatito {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }

@media (max-width:1000px){
        .contendTitleContend{
                gap: 3rem;
        }

        .contendTitleImg{
                height: 50vh;
                width: 25vw;
        }

        .imagenGatito{
                height: 30vh;
                width: 20vw;
        }

        .titleGatitosPros{
                font-size: 1.5vw;
        }
}

@media (max-width:800px){
        .contendTitleContend{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
        }

        .titleMiPrimerProyecto{
                text-align: center;
        }

        .contendTitleImg{
                height: 50vh;
                width: 30vw;
        }

        .titleGatitosPros{
                font-size: 2vw;
        }

        .imagenGatito{
                height: 25vh;
                width: 20vw;
        }
}

@media (max-width:500px){
        .contendTitleImg{
                height: 40vh;
                width: 25vw;
        }

        .titleGatitosPros{
                font-size: 1.5vw;
        }

        .imagenGatito{
                height: 25vh;
                width: 20vw;
        }
}

@media (max-width:412px){
        .contendTitleImg{
                height: 12vh;
                width: 20vw;
        }
        .imagenGatito{
                height: 8vh;
                width: 15vw;
                margin-top: -1.5rem;
        }
        
}